@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <address>
        Vamsikrishna Mannam<br />
        Toledo, OH 43615<br />
        <abbr title="Phone">P:</abbr>
        330.622.2792
        <br />
        <a href="https://drive.google.com/file/d/1i6UHl4xlqZZTYFfplGbyQlP_-MM5iTrj/view">Resume</a><br />
        <a href="mailto:mannamvamsikrishna9@gmail.com">Email Me</a>
    </address>
</div>
